/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #000000;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main";
}

body > nav {
  grid-area: nav;
  background-color: #ff0000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  padding: 20px;
  overflow-y: scroll;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #cc0000;
}

nav > a.active {
  color: white;
  cursor: default;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #cc0000;
}

table td {
  padding: 10px;
  text-align: center;
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}

/* h4 {
  font-weight: normal;
  display: inline;
  margin-right: 1em;
} */

#login-msg {
  color: red;
  margin-top: 1rem;
}
