/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

* {
  box-sizing: border-box;
  font-family: Helvetica;
  font-family: "PT Sans", sans-serif;
  color: #000000;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main";
}

body > nav {
  grid-area: nav;
  /* background-color: #ff0000; */
  background-color: #c12026;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > img {
  width: 5.5rem;
  object-fit: contain;
  margin-right: auto;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  /* background-image: url("https://i.imgur.com/OTM4N6t.jpg"); */
  padding: 20px;
  overflow-y: scroll;
}

#login-page {
  background-image: url("https://i.imgur.com/OTM4N6t.jpg");
}

#new-form {
  padding: 1%;
  width: 30%;
  background-color: #ee9797;
  /* display: grid; */
  /* grid-template-columns: 2fr 3fr 1fr; */
  /* grid-gap: 1rem; */
  border-radius: 1rem;
}

#new-form label {
  display: inline-block;
}

#new-form input,
#new-form select,
#new-form textarea {
  width: 100%;
  padding: 3px;
  /* margin-bottom: 1px; */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-button {
  text-align: right;
}

/* #new-form > div > label {
  grid-column: 1;
}

#new-form > div > input,
#new-form > div > select {
  grid-column: 2;
}

#new-form > div > button {
  grid-column: 3;
} */

#entry-list tr {
  border: 1px solid #000000; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  /* font-size: 18px; Increase the font-size */
  color: black; /* Add a black text color */
  /* display: block; Make it into a block element to fill the whole list */
}

/* .flex-row {
  flex-direction: row;
} */

body > main h1:first-child {
  margin-bottom: 1rem;
}

#nav-login {
  background-color: #000000;
  color: white;
}

#nav-login a {
  color: white;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #e32e2e;
}

nav > a.active {
  color: white;
  cursor: default;
}

#nav-login > a:hover:not(.active) {
  color: black;
  background-color: #e4e4e4;
}

table {
  font-size: 20px;
  table-layout: fixed;
  width: 70%;
}

table thead th {
  width: 10%;
  padding: 5px;
  border-bottom: 2px solid #c12026;
}

table tr th:nth-child(1) {
  width: 16%;
}

table tr th:nth-child(6) {
  width: 5%;
  border-bottom: none;
}

table tr th:nth-child(7) {
  width: 5%;
  border-bottom: none;
}

table td {
  padding: 10px;
  text-align: center;
}

#register-form {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 1rem;
}

#register-form label {
  text-align: right;
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  width: 50%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* #show-page label {
  text-align: right;
} */

#show-page div:nth-child(even) {
  font-weight: bold;
}

/* h4 {
  font-weight: normal;
  display: inline;
  margin-right: 1em;
} */

#login-msg {
  color: white;
  margin-top: 1rem;
}

.flex-row {
  width: 20%;
}

#searchbar {
  /* width: 95%; Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 20px; /* Add some padding */
  border: 1px solid #000000; /* Add a grey border */
  margin-bottom: 20px; /* Add some space below the input */
  width: 90%;
}

#new-form > div {
  margin-bottom: 0.00000000000001rem;
}

#login-form {
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #f5f5f5;
  box-shadow: 4px 8px 4px #000000;
}

#welcome-header {
  color: white;
}

#img-new-user {
  margin-top: 3em;
  border-radius: 2em;
  width: 40%;
  height: auto;
}

#img-login-logo {
  margin-top: 2em;
}

#img-logout {
  margin-top: 3rem;
  border-radius: 2rem;
}

#input-comments {
  height: 10rem;
}

.wrap-it {
  resize: none;
  overflow-wrap: break-word;
  /* word-wrap: break-word; */
  /* word-break: break-all; */
}

#div-comments {
  word-wrap: break-word;
  white-space: pre-wrap;
}

/* #review-div {
  background-color: #ee9797;
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
} */
