<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dinerdex</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap" rel="stylesheet">
  </head>
  <body>
        <nav id="nav-login">
          <a href="/users/new" <%- title === 'NEW ENTRY' ? 'class="active"' : '' %>>FORGOT PASSWORD </a>
    <a href="/users/new" <%- title === 'NEW ENTRY' ? 'class="active"' : '' %>>REGISTER </a>
  </nav>
  <main id="login-page">
    <img src="https://i.imgur.com/hKzdZ55.png" alt="logo-dinerdex" id="img-login-logo">
     <!-- <h1 id="welcome-header"><%= title %></h1> -->

     <form action="/users/login" method="post" id="login-form">
  <fieldset>
    <legend>User Login</legend>
    <label>User ID: <input name="userId" minlength="5" maxlength="20" required/></label>
    <br />
    <label>Password: <input name="password" minlength="8" type="password" required/></label>
    <input type="hidden" value="secret" name="what" />
    <button>Login</button>
  </fieldset>
</form>
<div id="login-msg"><%= msg %></div>

  </main>
  </body>
</html>
