<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dinerdex</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap" rel="stylesheet">
  </head>
  <body>
        <nav>
      <img src="https://i.imgur.com/hKzdZ55.png" alt="logo-dinerdex" id="img-logo">
    <a href="/users/login" <%- title === 'NEW ENTRY' ? 'class="active"' : '' %>>LOGIN PAGE </a>
    <!-- <a href="/diners" <%- title === 'All DEX ENTRIES' ? 'class="active"' : '' %>>ALL ENTRIES </a> -->
  </nav>
  <main>
     <h1><%= title %></h1>

     <form action="/users" method="post" id="register-form">
    <label>Full Name: <input name="fullName" minlength="4"  required/></label>
    <br />
    <label>User ID: <input name="userId" minlength="5" maxlength="20" required/></label>
    <br />
    <label>Password: <input name="password" minlength="8" type="password" required/></label>
    <br />
    <label>E-mail: <input name="email" minlength="15" type="email" required/></label>
  
    
    <button>Register</button>
</form>
<img src="https://i.imgur.com/SqpomWT.jpg" alt="new-user" id="img-new-user">


  </main>
  </body>
</html>
